@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Base.cshtml";
}
<div class="ms-controller login panel panel-success" ms-controller="loginController">
    <div class="panel-heading">
        <div class="relative">
            <span class="glyphicon glyphicon-lock loginIcon" aria-hidden="true"></span>
            <p class="fonth3 clearMargin text-center">登  陆</p>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="domain" class="col-sm-4 control-label text-right">Domain:</label>
                <div class="col-sm-8">
                    <select ms-duplex="domain" class="form-control" id="domain" placeholder="Domain">
                        <option ms-repeat="arrDomains" ms-attr-value="el.displayname">{{el.displayname}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="UserName" class="col-sm-4 control-label text-right">用户名称:</label>
                <div class="col-sm-8">
                    <input ms-duplex="userid" type="text" class="form-control" id="userid" placeholder="用户名称" autofocus />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label text-right">登陆密码:</label>
                <div class="col-sm-8">
                    <input ms-duplex="password" type="password" class="form-control" id="password" placeholder="登陆密码" />
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="col-sm-4 control-label text-right">确认密码:</label>
                <div class="col-sm-8">
                    <input ms-duplex="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="确认密码" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <button ms-click="onRegister('Register',this)" id="Register" type="button" class="btn btn-default">Register</button>
                </div>
                <div class="col-xs-6 text-center">
                    <button ms-click="onLogin('Login',this)" id="Login" type="button" class="btn btn-primary">Login</button>
                </div>

                @*
                    <div class="col-xs-4">
                        <button ms-click="onLogout('Logout',this)" id="Logout" type="button" class="btn btn-danger">Logout</button>
                    </div>*@
            </div>
        </div>
    </div>
    <div id="message" class="panel-footer text-center" ms-class="{{messagecss}}">
        <span>{{message | html}}</span>
    </div>
    <div class="panel-footer text-center " ms-class="{{messageErrcss}}">
        <span>{{messageErr | html}}</span>
    </div>
</div>
@Scripts.Render("~/bundles/init")
@Scripts.Render("~/bundles/login")

@section scripts{
    <script type="text/javascript">
        var token = sessionStorage.getItem(tokenKey);
        var headers = {};
        if (token) {
            headers.Authorization = 'Bearer ' + token;
        }
        avalon.log("Login:html.62");
        avalon.log(headers);
        //test api

        /*****
        var tmpurl ="baseUrl" +"api/values/1";
        $.ajax({
            type: 'GET',
            url: tmpurl,
            headers: headers
        }).done(function (data) {
            avalon.log(data);
            //self.result(data);
        }).fail(function (err) {
            //showError
            avalon.log(err);
        });
        *****/

        ////test api post
        //var mailSet =
        // {
        //     id:0,
        //     smtpServer: "172.16.10.25",
        //     portNumber: 25,
        //     mailname: "",
        //     mailpasswd: "",
        //     mailFrom: "notification@ccg.net",
        //     mailTo: ["xielg@cclmotors.com", "test@cclmotors.com"],
        //     mailCC: ["xielg@cclmotors.com", "test@cclmotors.com"],
        //     mailBCC: ["xielg@cclmotors.com"],
        //     mailSubject: "test mail",
        //     mailContent: "test mail",
        //     mailpriority: 0,
        //     isAnonymous: true
        // };
        //var tmpmailapiurl = top.mailApi.rooturl + top.mailApi.apiUrl;
        //$.ajax({
        //    type: 'POST',
        //    url: tmpmailapiurl,
        //    contentType: 'application/json; charset=utf-8',
        //    data: JSON.stringify(top.mailSet)
        //}).done(function (data) {
        //    avalon.log("Mail Done!");
        //    avalon.log(data);
        //}).fail(function (err) {
        //    //showError
        //    avalon.log(err);
        //});

    </script>
}