@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Base.cshtml";
}
<div class="ms-controller" ms-controller="loginController">
    @Html.Partial("_Login")
</div>

@Scripts.Render("~/bundles/init")
@Scripts.Render("~/bundles/ch")
@Scripts.Render("~/bundles/login")
@section scripts{
    <script type="text/javascript">
        var token = sessionStorage.getItem(top.auth.tokenKey);
        if (token) {
            top.auth.headers.Authorization = 'Bearer ' + token;
        }
        avalon.log("Login:html.62");
        avalon.log(top.auth.headers);
        //test api

        /*****
        var tmpurl ="baseUrl" +"api/values/1";
        $.ajax({
            type: 'GET',
            url: tmpurl,
            headers: top.auth.headers
        }).done(function (data) {
            avalon.log(data);
            //self.result(data);
        }).fail(function (err) {
            //showError
            avalon.log(err);
        });
        *****/

        //test manageinfo
        //$.ajax({
        //    type: 'GET',
        //    url: top.loginApi.apiUriManageInfo,
        //    headers: top.auth.headers
        //}).done(function (data) {
        //    avalon.log(data);
        //    //self.result(data);
        //}).fail(function (err) {
        //    //showError
        //    avalon.log(err);
        //});

        ////test api post
        //var mailSet =
        // {
        //     id:0,
        //     smtpServer: "172.16.10.25",
        //     portNumber: 25,
        //     mailname: "",
        //     mailpasswd: "",
        //     mailFrom: "notification@ccg.net",
        //     mailTo: ["xielg@cclmotors.com", "test@cclmotors.com"],
        //     mailCC: ["xielg@cclmotors.com", "test@cclmotors.com"],
        //     mailBCC: ["xielg@cclmotors.com"],
        //     mailSubject: "test mail",
        //     mailContent: "test mail",
        //     mailpriority: 0,
        //     isAnonymous: true
        // };
        //var tmpmailapiurl = rooturl + top.mailApi.apiUrl;
        //$.ajax({
        //    type: 'POST',
        //    url: tmpmailapiurl,
        //    contentType: 'application/json; charset=utf-8',
        //    data: JSON.stringify(top.mailSet)
        //}).done(function (data) {
        //    avalon.log("Mail Done!");
        //    avalon.log(data);
        //}).fail(function (err) {
        //    //showError
        //    avalon.log(err);
        //});

    </script>
}