@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Base.cshtml";
}
<div class="ms-controller" ms-controller="loginController">
    <div class="text-center">
        <h3>登  陆</h3>
    </div>
    <div style="width:369px; margin-left:auto; margin-right:auto; margin-top:26px;">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="domain" class="col-sm-3 control-label text-right">Domain:</label>
                <div class="col-sm-9">
                    <input ms-duplex="domain" type="text" class="form-control" id="domain" placeholder="Domain" />
                </div>
            </div>
            <div class="form-group">
                <label for="UserName" class="col-sm-3 control-label text-right">用户名称:</label>
                <div class="col-sm-9">
                    <input ms-duplex="userid" type="text" class="form-control" id="userid" placeholder="用户名称" autofocus />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label text-right">登陆密码:</label>
                <div class="col-sm-9">
                    <input ms-duplex="password" type="password" class="form-control" id="password" placeholder="登陆密码" />
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="col-sm-3 control-label text-right">确认密码:</label>
                <div class="col-sm-9">
                    <input ms-duplex="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="确认密码" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button ms-click="onRegister('Register',this)" id="Register" type="button" class="btn btn-default">Register</button>
                </div>
                <div class="col-xs-4">
                    <button ms-click="onLogin('Login',this)" id="Login" type="button" class="btn btn-primary">Login</button>
                </div>
                <div class="col-xs-4">
                    <button ms-click="onLogout('Logout',this)" id="Logout" type="button" class="btn btn-danger">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <div id="message" class="h4 alert text-center" ms-class="{{messagecss}}">
        <span>{{message | html}}</span>
    </div>
</div>
@Scripts.Render("~/bundles/login")

@section scripts{
    <script type="text/javascript">
        var token = sessionStorage.getItem(tokenKey);
        var headers = {};
        if (token) {
            headers.Authorization = 'Bearer ' + token;
        }
        avalon.log(headers);

        //test api
        @*var tmpurl ="@baseUrl" +"api/values/1";
        $.ajax({
            type: 'GET',
            url: tmpurl,
            headers: headers
        }).done(function (data) {
            avalon.log(data);
            //self.result(data);
        }).fail(function (err) {
            //showError
            avalon.log(err);
        });*@
    </script>
}