
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Base.cshtml";
}
<div class="ms-controller" ms-controller="ChangePassword">
    @Html.Partial("_Login")
</div>

@Scripts.Render("~/bundles/init")
@Scripts.Render("~/bundles/ch")
@Scripts.Render("~/bundles/ChangePassword")

