
@{
    ViewBag.Title = "SetPassword";
    Layout = "~/Views/Shared/_Base.cshtml";
}
<div class="ms-controller" ms-controller="SetPassword">
    @Html.Partial("_Login")
</div>

@Scripts.Render("~/bundles/init")
@Scripts.Render("~/bundles/ch")
@Scripts.Render("~/bundles/SetPassword")
